.paper-root {
  width: 100%;
  overflow-x: auto;
  #expenses-table.expenses-table {
    min-width: 700px;
    thead {
      background-color: #333333;
      > tr {
        &:hover {
          background:#333333;
        }
        > th {
          color: whitesmoke;
          font-weight: 400;
          font-size: 1.7rem;
          @media (max-width:667px) {
            font-size: 1.5rem;
          }
          text-align: left;
        }
      }
    }
    tr {
      &:hover {
        font-weight: 400;
        background:#eeeeee;
        cursor: pointer;
      }
      > td {
        font-weight: 400;
        font-size: 1.5rem;
        text-align: left;
        color:#00010b;
      }
    }

  } //expenses-table
}//paper-root


.input-filters {
  display: flex;
  margin:40px 0;
  .filters-container {
    display:flex;
    flex-wrap: wrap;
    width:100%;
    input {
      padding:12px 20px;
      margin:0;
      line-height: 27px;
      font-size: 15px;
      width: 100%;
    }
  }
}





