@import '../base/settings';

.paper-root {
	width: 100%;
	overflow-x: auto;
	#expenses-table.expenses-table {
		min-width: 700px;
		thead {
			background-color: #333333;
			> tr {
				&:hover {
					background: #333333;
				}
				> th {
					color: whitesmoke;
					font-weight: 400;
					font-size: $sm-size;
					@media (max-width: 667px) {
						font-size: $sm-size;
					}
					text-align: left;
				}
			}
		}
		tr {
			&:hover {
				font-weight: 400;
				background: #eeeeee;
				cursor: pointer;
			}
			> td {
				font-weight: 400;
				font-size: $sm-size;
				text-align: left;
				color: #00010b;
			}
		}
	} //expenses-table
} //paper-root

.input-filters {
	display: flex;
	margin: 40px 0 0;
	@media (max-width: 667px) {
		margin: 0;
		button .search-menu-icon {
			display: none;
		}
	}
	.filters-container {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		input {
			padding: 12px 20px;
			margin: 0;
			line-height: 27px;
			font-size: $sm-size;
			width: 100%;
		}
	}
}

/* search-bar */

.search-root {
	padding: 2px 4px;
	display: flex;
	align-items: center;
	width: 400px;
	margin: 2em 0;
}

.search-root input:focus,
.search-root input:active,
.search-root input:hover {
	outline: none;
	border: none;
	box-shadow: none;
}

.search-input {
	margin-left: 8px;
	flex: 1;
}
