@import '../base/settings';

.isModal {
  top:45%;
  left:50%;
  width:960px;
  height: 540px;
  position: fixed;
  margin-left: -480px;
  margin-top: -270px;
  border: 1px solid #bdbdbd;
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  // transform: translate(50%, 50%);
  z-index: 10;
  .header {
    display: flex;
    font-size: 1.35rem;
    justify-content: space-between;
    max-height: 41px;
    h3 {
      line-height: 41px;
      height: 41px;
      margin: 0;
    }
  }
  .favorites-list {
      display: flex;
      justify-content: space-between;
      flex-flow: wrap;
      flex-direction: row;
      .fav-movies-card {
        max-width: 48.5%;
        margin-bottom: 2em;
        button {
          h2 {
            height: 29px;
            overflow: hidden;
          }
          p.overview {
            min-height: 114px;
            max-height: 114px;
            overflow: hidden;

          }



          padding: 0;
          background:#fafafa;
          box-shadow: none;
          span.movie-release {
            font-weight: 500;
            margin-top: 10px;

          }


          h2 {
            font-size: $btn-title-size;
          }


          p {
            font-size: $btn-size;
          }
        }
        .fav-movie {
          color:#2196f3;
        }
     }
     .MuiCardActions-root-189 {
        padding: 0 4px 8px 12px;
    }
  }
}

.hide {
  visibility: hidden;
  opacity: 0;
}
.show {
  visibility: visible;
  opacity: 1;
  padding-bottom: 3.5em;
}

.close-modal {
  border: #162e08;
  font-size: 1.35rem;
  font-weight: 400;
  padding: 12px 15px;
  text-transform: uppercase;
  line-height: 17.7188px;
  margin: 0;
  background: #3949AB;
  color: #f3f3f3;
  cursor: pointer;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  &:hover {
    background: $blue-btn;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

}


@media (max-width:667px) {
  .container {
    .main-content {
      .isModal {
        width: 89.8%;
        top: 40%;
        left: 50%;
        margin-left: -50%;
        margin-top: -50%;
        padding-bottom: 1em;
        h3 {
          font-size: $btn-title-size;
        }
        p {
          font-size: $btn-size;
          text-align: center;
        }
        .favorites-list {
          .fav-movies-card {
            max-width: 100%;
            margin-bottom: 2em;
            p {
              text-align: justify;
            }
            .fav-movie {
              color:#2196f3;
            }
          }
        }


      }
    }
  }

}


h3 {
  font-size: $md-size;
}



body.modal-bg {
  margin: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  z-index: 1;
  #root .paper-root {
    visibility: hidden;
  }
  #root .save-list, #root .movie-input, #root .movies-list {
    visibility: hidden;
  }
  .isModal {
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 5px 8px 0px rgba(0,0,0,0.14), 0px 1px 14px 0px rgba(0,0,0,0.12);
    background-color: #fff;
  }
}
