@import './settings';
@import './grid';
@import './helpers';

html {
  font-size: 62.5%;
  min-height: 100%;
  width:100%;
  line-height: 1.5;
  box-sizing: border-box;

}

body {
  font-family: 'Roboto:300,400,500', Helvetica, Arial, sans-serif;
  margin:0;
  font-size: $sm-size;
  background: $light-white;
}



