/*
  colors
˚˚˚˚˚˚˚˚˚˚˚˚
*/
$off-black: #20222b;
$dark-blue: #333745;
$blue: #3c4251;
$light-blue: #464b5e;
$off-white: #afafd7;
$light-white: #fafafa;
$purple: #8357c5;
$blueblk: #00010b;

$blue-btn: #3949AB;




/*
  font-size
˚˚˚˚˚˚˚˚˚˚˚˚
*/

$xs-size: 1.2rem;

$sm-size: 1.5rem;

$md-size:2.55rem;

$lg-size: 2.75rem;

$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;

$btn-size:1.35rem;
$btn-title-size:2.25rem;
