//@import './scss/App.scss';

.wrapper {
  padding: 0;
  @media (max-width:667px) {
    padding: 0 1rem;
    .container {
      padding: 0;
    }
  }
}

a {

  &.nav {
    color: #d2d2d2;
    text-decoration: none;
    margin-right: 30px;
    font-weight: 300;
    &.is-active {
      color:#fff;
    }
  }


}


