@import './base/base';

/* button submenu */
.button-wrap {
  margin:1em 0;
  button {
    font-size: $btn-size;
    font-weight: 400;
    padding: 12px 15px;
  }
}

/* lost found page*/
.lost-header {
	margin: 2em 0;
	h2 {
		font-weight: 500;
	}
	h1,
	h2 {
		text-align: center;
	}
}
.lost-error {
	display: block;
	margin: 0 auto;
	max-width: 600px;
	width: 100%;
	a {
		overflow: auto;
		&.back-home {
			padding: 0;
			background-color: transparent;
			&:hover {
				background-color: transparent !important;
			}

			img {
				height: auto;
				max-width: 600px;
				width: 100%;
				border-radius: 4px;
			}
		}
	}
}
